# Ignore Python compiled files
__pycache__/
modules/__pycache__/
*.pyc
*.pyo
*.pyd

saved_models/
saved_results/
exclude/
preproc_out/
logs/discard/
logs/unchecked/
*.out
*.json
runs/
*.npy
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
*.so
sbatch.sh
